[push]
	default = simple
[user]
	name = adam
	email = adam@elliptic.co
[alias]
	co = checkout
	cm = commit
	cmm = commit -m
	cma = commit --amend
	pl = pull
	d = diff
	h = help
	st = status -sb
	a = add
	f = fetch
	i = init
	m = merge --no-ff
        l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cl = clone
	b = branch
	aa = add --all
	ph = push
	cfg = config -l
	rb = rebase
	standup = log ––since yesterday ––author adam ––all
[core]
	excludesfile = ~/.gitignore_global
[diff]
	tool = diffmerge
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
