[push]
	default = simple
[user]
	name = adam
	email = adjoinant@gmail.com
[alias]
	co = checkout
	cm = commit
	cmm = commit -a -m
	cma = commit --amend
	pl = pull
	d = diff
	h = help
	st = status -sb
	a = add
	f = fetch
	i = init
	m = merge --no-ff
	l = log ––pretty=tformat:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	cl = clone
	b = branch
	aa = add --all
	ph = push
	cfg = config -l
	rb = rebase
	standup = log ––since yesterday ––author joe ––all
[core]
	excludesfile = ~/.gitignore_global
[diff]
	tool = diffmerge
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

